.butts {
    margin: 10px;
    padding: 9px;
    padding-right: 10px;
    position: fixed;
    top: 50vh;
    left: 87vw;
    text-align: right;
    border-right: 4px solid rgb(22, 22, 163);
    height: max-content;
    transition: .6s ease-in-out;
}

.topbut {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border: 3px solid transparent;
    border-right: 0px solid transparent;
    border-radius: 100px;
    background-color: #0a244696;
    transition: .44s ease-in-out;
}

.topbut:hover {
    background-color: #2871cf;
    border-color: #2871cf;
}

.butts:hover {
    border-color: blue;
}